.btn-component {
  margin-left: 10px;
  margin-bottom: 15px;
  padding: 5px 10px;
}

/* styles.css */

/* Default button styles */
.custom-btn {
  font-weight: 800;
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 10px;
  background-color: #28a745; /* Green background color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: transform 0.3s ease; /* Smooth transition for transform property */
}

/* Hover effect */
.custom-btn:hover {
  transform: scale(1.1); /* Increase button size by 10% on hover */
}

.up-right-side {
  float: right;
}

/* Text decoration and animation */
.welcome-text {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  color: #0c0c0c; /* Blue color */
  /* animation: moveUp 5s ease infinite, textGlow 3s alternate infinite; */
}

/* 3D animation */
@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Font effects and glow */
@keyframes textGlow {
  0% {
    text-shadow: 0 0 5px rgba(137, 138, 139, 0.5);
  }
  100% {
    text-shadow: 0 0 10px rgb(109, 117, 126);
  }
}

.typeWriting {
  margin-top: 25px;
}
