* {
  margin: 0;
  padding: 0;
}

.All {
  width: 100%;
  height: 100vh;

  top: 0;
  /* Set the background image URL */
  background-image: url("../images/Supply\ Chain\ Jobs_\ Procurement\,\ Logistics\,\ and\ Management.jpg");

  /* Set the background image to cover the entire viewport */
  background-size: cover;

  /* Center the background image vertically and horizontally */
  background-position: center center;

  /* Ensure the background image covers the entire viewport */
  background-attachment: fixed;

  /* Add a background color as a fallback in case the image doesn't load */
  background-color: #f2f2f2;
}

.textFeild {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: sticky;
  overflow: auto;
  color: antiquewhite !;
}
.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.main {
  color: white;
  overflow: auto;
}
.topic {
  font-size: 70px;
  font-weight: 700;
  font-stretch: expanded;
}
.transparent-button {
  background-color: rgba(0, 0, 0, 0.2); /* Adjust the alpha value as needed */
  border: 2px solid white;
  border-radius: 10px;
  color: white; /* Text color */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

/* Add this CSS to your stylesheet or component styles */
/* .btn-primary.transparent-button.hoverable {
  position: relative;
  overflow: hidden;
}

.btn-primary.transparent-button.hoverable:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid white; /* Add a white border */
/* border-radius: 5px; /* Add rounded corners for a better look */
/* filter: blur(5px); /* Apply a blur effect to the border */
/* } */

.navBarWrapper {
  position: absolute;
  top: 0;
  width: 100%;
}

.link-no-decoration {
  text-decoration: none;
  /*font-family: "Roboto", sans-serif;*/
  /* font-size: 20px; */
  color: #f2f2f2;
  /* Use the default text color of the parent element */
  /* You can add more styles as needed */
}
.link-no-decoration:hover {
  color: #ffffff;
}

.about-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s ease-in-out; /* Smooth transition */
}
